@import 'mixins';

$joyconBlue: #00c3e3;
$joyconRed: #ff4554;
$joyconGrey: #989898;
$switchWhite: #ffffff;

$pokeRed: #ee1515;
$pokeGrey: #f0f0f0;
$pokeBlack: #222224;


*{
    box-sizing: border-box;
}

#btn {
    height: 50px;
    width: 50px;
    
}

#boss {
    @include flexContainer(600px, 80%, 0px solid green, row);
    // @include flexContainer(600px, 1200px, 0px solid green, row);
    margin: 80px auto auto auto;
    justify-content: center;
}

#controllerLeft{
    @include flexContainer(100%, 16%, 0px solid green, row);
    background-color: $joyconBlue;
    border-top-left-radius: 200px 80px;
    border-bottom-left-radius: 200px 80px;
    box-shadow: 0px -10px rgba(34, 33, 33, 0.945);
}

#mainScreenParent {
    @include flexContainer(100%, 68%, 0px solid green, row);
    background-color: $joyconGrey;
    display: none;
    border-radius: .2%;
    justify-content: center;
    opacity: .9;
    animation-name: intro;
    animation-delay: 0;
    animation-duration: 1500ms;
    
}

#mainScreenBorder {
    @include flexContainer(95%, 95%, 0px solid green, row);
    background-color: black; 
    border-radius: 5%;
    margin: 13px auto auto auto;
    opacity: 1;
    // box-shadow: 5px 10px rgb(34, 33, 33);
    
    
}

#screen{
    @include flexContainer(90%, 88%, 0px solid green, column);
    background-color: $switchWhite;
    margin: auto; 
    border-radius: 1%;
}

#header {
    @include flexContainer(10%, 100%, 1px solid green, row); 
}
#name {
    @include flexContainer(80%, 30%, 1px solid green, row);  
    margin: auto;
    justify-content: center;
    font-size: 22px;
}

#imageAndSkillsContainer {
    @include flexContainer(80%, 100%, 1px solid green, row);
}

#imageParent {
    @include flexContainer(100%, 60%, 1px solid green, row);
    margin-left: 5%;
}

#image {
    height: 100%;
    width: 100%;
}

#skillsParent{
    @include flexContainer(100%, 30%, 1px solid green, column);
    margin-right: 5%;
}

.threeCol {
    @include flexContainer(20%, 100%, 1px solid green, row);
}

#hpParent {
    @include flexContainer(25%, 20%, 1px solid green, row); 
}

#controllerRight{
    @include flexContainer(100%, 16%, 0px solid green, row);
    background-color: $joyconRed;
    border-top-right-radius: 200px 80px;
    border-bottom-right-radius: 200px 80px;
    box-shadow: 0px -10px rgba(34, 33, 33, 0.945);
}

#start {
    position: absolute;
    top: 200px;
    left: 37.5%;
    width: 25%;
    height: 350px;
    border-radius: 50%;
    // border-bottom: 10px solid black;
    font-size: 20px;
    background: linear-gradient(180deg, $pokeRed 50%, $pokeGrey 50%);
    border: 12px solid $pokeBlack;
    animation: spin;
    animation-duration: 800ms;
    animation-iteration-count: 1;
}

#circle {
    height: 25%;
    width: 25%;
    margin: auto;
    background-color: $pokeGrey;
    border-radius: 50%;
    border: 10px solid $pokeBlack;

}

@keyframes intro {
    0%   {opacity: 0;}
    50%  {opacity: .6;}
    100% {opacity: .9;}
}

#sliderLeftContainer {
    height: 50%;
    width: 50%;
    margin: auto;
    border: 0px solid black;
    font-size: 100px;
    justify-content: center;
    text-align: center;
}

#sliderRightContainer {
    height: 50%;
    width: 50%;
    margin: auto;
    border: 0px solid black;
    font-size: 100px;
    justify-content: center;
    text-align: center;
}

#prev{
    font-size: 200px;
    background-color: $joyconBlue;
    border: $joyconBlue;
    text-align: center;
    margin: auto;
    top: 200px;
    color: $pokeBlack;
    outline: none;
    display: none;
}

#next{
    font-size: 200px;
    background-color: $joyconRed;
    border: $joyconBlue;
    text-align: center;
    margin: auto;
    top: 200px;
    color: $pokeBlack;
    display: none;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
        opacity: 0;
    }
    to {
        transform:rotate(360deg);
        opacity: 1;
    }
}
